.counter {
  height: 40px;
  width: 40px;
  border-radius: 16px;
  margin: 3px 3px 10px 7px;
  cursor: pointer;
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
  // transform set so that counter becomes containing parent for fixed pos. buttons
  // transform: translate(0, 0);
  text-shadow: 1px 1px $lightest-grey;
  border: 6px solid;
  border-color: $lightest-grey $lighter-grey $grey;
  box-shadow: 1px 1px 3px $dark-grey, inset 1px 1px $very-opaque-white;
  background-image: linear-gradient(147deg, $light-grey, $grey 95%);
  &:active {
    box-shadow: -1px -1px 3px $dark-grey,
                inset -2px -2px rgba(255, 255, 255, 0.4),
                inset 2px 2px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px $lightest-grey;
    transition: box-shadow 0.13s ease-in-out;
  }
  &:before {
    // START HACK: Can't transition linear-gradients normally. See link for details.
    // https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    background-image: linear-gradient(317deg, $light-grey, $grey 95%);
    border-radius: 11px;
  }
  &:active:before {
    opacity: 1;
    // END HACK
  }

  &__value {
    height: 100%;
    position: relative;

    &--count {
      font-size: 22px;
      font-weight: bold;
      position: absolute;
      top: 6px;
      width: 97%;
      text-align: center;
    }

    &--label {
      font-size: 12px;
      position: absolute;
      top: 28px;
      width: 100%;
      text-align: center;
    }
  }

  .transition-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translate(0, 0);
    .counter__buttons {
      position: fixed;
      height: 55px;
      width: 55px;
      z-index: 1000;
      border-radius: 50%;
      border: none;
      transition: transform 2s;
      font-size: 18px;
      // https://codepen.io/yesilfasulye/pen/iGHru
      background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
      background-image: linear-gradient(top, #f4f1ee, #fff);
      border-radius: 50%;
      box-shadow: 1px 7px 4px 1px rgba(0, 0, 0, .5),
                  0px 2px 3px 0px $turquoise,
                  inset 0px 4px 1px 1px white,
                  inset 0px -3px 1px 1px rgba(204,198,197,.5);
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      &--delete {
        box-shadow: 1px 7px 4px 1px rgba(0, 0, 0, .5),
            0px 4px 3px 0.6px $red-light,
            inset 0px 4px 1px 1px white,
            inset 0px -3px 1px 1px rgba(204,198,197,.5);
        font-size: 24px;
      }

      &:after {
        color:#e9e6e4;
        content: "";
        display: block;
        font-size: 30px;
        height: 30px;
        text-decoration: none;
        text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
        position: absolute;
        width: 30px;
      }

      &:hover {
        background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
        background-image: linear-gradient(top, #fff, #f4f1ee);
        color: $turquoise;
        @at-root .counter__buttons--delete:hover { color: $red-dark !important; }
      }

      &:active {
        background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
        background-image: linear-gradient(top, #efedec, #f7f4f4);
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
      }

      &:active:after {
        color:#dbd2d2;
        text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
      }

    }
    // enter + exit classes generated be react-transition-group
    &--enter {
      .counter__buttons {
        transform: translate(-6px, -6px) scale(0.2);
      }
    }
    &--enter-active {}
    &--enter-done {
      .counter__buttons {
        transform: translate(-6px, -6px);
        &--top-1 {
          transform: translate(-70px, -70px);
        }
        &--top-2 {
          transform: translate(-6px, -88px);
        }
        &--top-3 {
          transform: translate(58px, -70px);
        }
        &--bottom-1 {
          transform: translate(-70px, 58px);
        }
        &--bottom-2 {
          transform: translate(-6px, 76px);
        }
        &--bottom-3 {
          transform: translate(58px, 58px);
        }
        &--delete {
          transform: translate(-58px, -6px) scale(0.62);
        }
      }
    }
    &--exit {}
    &--exit-active {}
  }
}
