.transition-container {
  position: absolute;
  height: 52px;
  width: 52px;
  pointer-events: none;

  .counter__buttons {
    position: fixed;
    height: 55px;
    width: 55px;
    pointer-events: all;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    // https://codepen.io/yesilfasulye/pen/iGHru
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 1px 7px 4px 1px rgba(0, 0, 0, .5),
                0px 2px 3px 0px $turquoise,
                inset 0px 4px 1px 1px white,
                inset 0px -3px 1px 1px rgba(204,198,197,.5);
    transition: transform 0.15s, opacity 0.1s;
    transition-timing-function: cubic-bezier(.45,.14,.35,1.31);
    -webkit-transition: transform 0.1s, opacity 0.08s;
    -webkit-transition-timing-function: cubic-bezier(.45,.14,.35,1.31);

    &--delete {
      box-shadow: 1px 7px 4px 1px rgba(0, 0, 0, .5),
      0px 4px 3px 0.6px $red-light,
      inset 0px 4px 1px 1px white,
      inset 0px -3px 1px 1px rgba(204,198,197,.5);
      font-size: 24px;
    }

    &:after {
      color:#e9e6e4;
      content: "";
      display: block;
      font-size: 30px;
      height: 30px;
      text-decoration: none;
      text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
      position: absolute;
      width: 30px;
    }

    &:hover {
      background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
      background-image: linear-gradient(top, #fff, #f4f1ee);
      color: $turquoise;
      @at-root .counter__buttons--delete:hover { color: $red-dark !important; }
    }

    &:active {
      background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
      background-image: linear-gradient(top, #efedec, #f7f4f4);
      box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
    }

    &:active:after {
      color:#dbd2d2;
      text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
    }

  }
  // enter + exit classes generated be react-transition-group
  &--enter {
    .counter__buttons {
      transform: scale(0.2);
      opacity: 0.01;
    }
  }
  &--enter-active {}
  &--enter-done {
    .counter__buttons {
      opacity: 1;
      &--top-1 {
        transform: translate(-62px, -62px);
      }
      &--top-2 {
        transform: translate(0, -85px);
      }
      &--top-3 {
        transform: translate(62px, -62px);
      }
      &--bottom-1 {
        transform: translate(-62px, 62px);
      }
      &--bottom-2 {
        transform: translate(0, 85px);
      }
      &--bottom-3 {
        transform: translate(62px, 62px);
      }
      &--delete {
        transform: translate(62px, -0) scale(0.62);
      }
    }
  }
  &--exit {
  }
  &--exit-active {
    .counter__buttons {
      transform: scale(0.2);
      opacity: 0.01;
    }
  }
}
