.create-counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  min-width: 50px;
  width: auto;

  &__form {
    margin-left: 7px;
    input {
      text-align: left !important;
      font-size: 20px;
    }
  }
}
