.create-creature-form {
  @extend .token;

  padding: 15px;
  margin: 3px;
  width: auto;

  .single-input-form {
    display: flex;
    justify-content: flex-start;

    & {
      flex: 0 1 30px;
    }
    
    input {
      min-width: 40px;
      font-size: $creature-name-size;
      margin: 5px 5px 5px 0;
      font-weight: bold;
      max-width: 95%;
    }
  }
}
