.create-creature-form {
  @extend .token;

  padding: 15px;
  margin: 3px;
  width: auto;

  .single-input-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    input {
      font-size: $creature-name-size;
      margin: 5px 5px 5px 0;
      font-weight: bold;
      max-width: 95%;
    }
  }
}
