.initiative {
  flex: 1 1 350px;
  @media (min-width: 765px) {
    max-width: 60%;
  }
  @media (max-width: 765px) { order: 2; }

  &-token {
    width: 100%;
    flex: 0 0 100px;
    padding: 5px;
    margin-bottom: 3px;
    background-color: $white-opaque;
    border-radius: 8px;
    position: relative;
    box-shadow: inset 0 0 15px black;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      margin: 3px 0 0 7px;
    }

    .drag-handle {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    &__counters {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;
    }
  }
}
