.token {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 5px 5px 8px 8px;
  border: 1px solid $charcoal;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #333,
              inset -2px -2px 5px $grey-lighter;
  background-color: $white-opaque;
}

.initiative {
  flex: 1 1 350px;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
  padding-top: 3px;
  .sortable-list__element {
    padding: 0 3px;
  }

  &-token {
    @extend .token;
    margin-bottom: 4px;
    &__title {
      margin: 0;
      &, & input {
        font-size: $creature-name-size;
        font-weight: bold;
        border-bottom: none;
      }
    }

    &__actions {
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      button, .sortable-list__drag-handle {
        cursor: pointer;
        padding: 5px;
        border: none;
        background: none;
        color: $charcoal;
        font-size:16px;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }

    &--editing &__actions {
      .initiative-token__edit {
        color: $saffron-dark;
        opacity: 1;
      }
    }

    &__counters {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;
      transition: height 250ms ease-in-out;
    }

    &--editing &__counters {
      height: auto;
    }
  }
}
