.modal {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  z-index: 1;
  background: rgba(0,0,0,0.5);

  &__content {
    background: white;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
  }

  &__close {
    position: absolute;
    right: 40px;
    top: 40px;
    padding: 5px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
  }
}
