body {
  font-family: monospace;
  background-image: url('../images/ancient-paper-background.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  *:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    border-radius: 10px;
    margin: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $white-opaque;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}

main.main {
  border-radius: 18px;
  background-image: radial-gradient(ellipse, rgba(255, 255, 255, 0) 0%, $white 120%, $white);
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  -webkit-filter: drop-shadow(10px 10px 11px $grey-darkest);
  box-shadow: 0px 5px 10px #1ee;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .widget {
    border: 6px solid $white-opaque;
    border-radius: 12px;
    margin: 5px;
    box-shadow: inset 0 0 15px $grey-darkest, 0 0 5px $grey;
    padding: 3px;
    ::-webkit-scrollbar-track {
      margin: 2px;
    }
  }

  .temporary-right-side {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.drag-handle {
  width: 20px;
  height: 20px;
  display: block;
  background:url('../images/drag-handle.png') center center no-repeat;
  background-size:contain;
  cursor: pointer;
}
