body {
  font-family: monospace;
  background-image: url('../images/ancient-paper-background.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
