$white: #FFF;
$opaque-white: rgba(255, 255, 255, 0.97);

$lightest-grey: #c9c9c9;
$light-grey: #bbbbbb;
$lighter-grey: #aeaeae;
$grey: #787878;
$dark-grey: #1e1e1e;

$charcoal: #373f71;

$turquoise: #11eeee;
$magic-potion-red: #ff4365;
$blueberry: #008dd5;
$asparagus: #7ea16b;
$aquamarine-green: #71f79f;
$sunny: #fff275;
$royal-purple: #7a43bc;
$crimson: #990000;

$green-lightest: #99edb3;
$green-light: #3abc61;
$green: #3abc61;
$green-dark: #13953a;
$green-darkest: #0a7129;
