$white: #FFF;
$opaque-white: rgba(255, 255, 255, 0.97);
$very-opaque-white: rgba(255, 255, 255, 0.4);

$lightest-grey: #c9c9c9;
$light-grey: #bbbbbb;
$lighter-grey: #aeaeae;
$grey: #787878;
$dark-grey: #1e1e1e;

$charcoal: #373f71;

$turquoise: #11eeee;
$blueberry: #008dd5;
$asparagus: #7ea16b;
$aquamarine-green: #71f79f;
$sunny: #fff275;
$royal-purple: #7a43bc;
$crimson: #990000;

$green-lightest: #99edb3;
$green-light: #3abc61;
$green: #3abc61;
$green-dark: #13953a;
$green-darkest: #0a7129;

$blue-lightest: #94d5e1;
$blue-light: #51b9cc;
$blue: #18a0ba;
$blue-dark: #038fa9;
$blue-darkest: #025869;

$saffron-lightest: #ffe4a3;
$saffron-light: #ffd36a;
$saffron: #f9c240;
$saffron-dark: #f5ad06;
$saffron-darkest: #b47e00;

$red-lightest: #fdb4bb;
$red-light: #fc7a87;
$red: #fa4f60;
$red-dark: #f92438;
$red-darkest: #ed0017;
