$white: #FFF;
$opaque-white: rgba(255, 255, 255, 0.97);
$dark-grey: #1e1e1e;
$grey: #787878;
$light-grey: #bbbbbb;

$charcoal: #373f71;

$turquoise: #11eeee;
$magic-potion-red: #ff4365;
$blueberry: #008dd5;
$asparagus: #7ea16b;
$aquamarine-green: #71f79f;
$sunny: #fff275;
$royal-purple: #7a43bc;
$crimson: #990000;
